In [1]:
import pandas as pd

In [7]:
with open("../Data Files/ageSexIncomePostalAus.csv", 'r') as f:
    with open("../Data Files/constraintsAus.csv", 'w') as g:
        corpus = f.readlines()

        for line in corpus:
            g.write(line.strip()[:-1]+"\n")

In [8]:
data = pd.read_csv("../Data Files/constraintsAus.csv")

C:\Users\orect\AppData\Local\Temp\ipykernel_20152\1573386866.py:1: DtypeWarning: Columns (0,1) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("../Data Files/constraintsAus.csv")

In [9]:
data = data.reset_index(drop=False)

In [10]:
data.columns = data.columns[1:].tolist() + ["Count"]

In [11]:
data.fillna(method='ffill', inplace=True)

In [14]:
data.head()

,AGE5P Age in Five Year Groups,SEXP Sex,INCP Total Personal Income (weekly),POA (UR),Count
0,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2000,24
1,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2007,10
2,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2008,11
3,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2009,0
4,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2010,8

In [15]:
data = data[data['AGE5P Age in Five Year Groups'] != 'Total']

In [16]:
for column in data.columns:
    print(data[column].unique())

['15-19 years' '20-24 years' '25-29 years' '30-34 years' '35-39 years'
 '40-44 years' '45-49 years' '50-54 years' '55-59 years' '60-64 years'
 '65-69 years' '70-74 years' '75-79 years' '80-84 years' '85-89 years'
 '90-94 years' '95-99 years' '100 years and over']
['Male' 'Female']
['$300-$399 ($15,600-$20,799)' '$400-$499 ($20,800-$25,999)'
 '$500-$649 ($26,000-$33,799)' '$650-$799 ($33,800-$41,599)'
 '$800-$999 ($41,600-$51,999)' '$1,000-$1,249 ($52,000-$64,999)'
 '$1,250-$1,499 ($65,000-$77,999)' '$1,500-$1,749 ($78,000-$90,999)'
 '$1,750-$1,999 ($91,000-$103,999)' '$2,000-$2,999 ($104,000-$155,999)'
 '$3,000-$3,499 ($156,000-$181,999)' '$3,500 or more ($182,000 or more)']
['POA2000' 'POA2007' 'POA2008' ... 'POA4825' 'POA9494' 'POA9797']
[  24   10   11    0    8    7    4   15   23    9   13   17    5   16
    3   14   25   31   29   36   28   27   39    6   26   45   22   21
   38   37   18   42   19   32   35   12   34   68   65   20   80   49
  117   57   52   64   66  147   70   74   30   55   54   46  110   59
  101   51   48   33   41   47   82   40   60   88  104   83   69   58
   96   63   67  122   98  149   44   50   72   76   90  125   53   43
  102   56   71   95   79   97  177   81  105  130  109   61   93   78
   62   86  108   84  127  131  106   85   94  111  133   73  119  100
   91   75  171   92  132  103  179  113  126  199   89  146  154  166
  184  107  136   99  128  134   77  182  129  206  168  201  123  118
  112   87  115  180  156  121  172  175  141  152  145  144  116  135
  222  142  151  181  189  140  165  120  290  155  163  316  124  383
  114  176  297  248  302  164  213  244  238  159  226  167  161  188
  150  194  153  263  138  148  137  221  231  204  162  239  157  227
  379  158  361  203  307  160  246  223  186  178  174  433  187  241
  435  283  306  254  170  343  197  340  139  487  217  173  482  322
  190  407  214  269  296  261  257  143  319  242  198  265  354  169
  202  210  234  196  191  353  235  393  310  338  236  183  291  192
  193  425  200  311  295  271  209  205  315  281  399  587  366  423
  225  211  276  287  437  300  332  258  304  195  478  230  262  279
  185  278  250  216  342  357  389  403  305  489  298  339  243  293
  282  394  228  369  286  289  212  255  448  264  682  471  245  584
  215  207  220  292  375  275  603  208  417  424  288  224  365  668
  370  368  256  270  219  272  218  352  430  511  376  406  240  456
  229  301  266  249  252  321  259  268  341  573  360  329  318  344
  274  458  312  277  267  233  284  579  374  280  419  351  381  495
  232  285  273  378  447  404  443  362  455  612  260  294  397  335
  325  251  373  415  308  317  604  418  299  409  358  405  320  460
  337  336  472  237  510  524  442  253  485  380  328  572  891  571
  679  346  334  355  684  313  436  497  330  359  309  324  347  382
  615  583  401  641  345  350  371  326  726  392  986  769  323  331
  526  247  773  372  499  558  721  303  385  327  363  468  432  314
  647  465  520  421  514  364  395  388  367  431  559  410  532  449
  386  446  459  484  593  616  476  586  588  502  348  590  428  521
  398  675  592  552  553  574  429  333  563  349  420  438  413  396
  790  463  661  516  457  439 1104  646  971  787  565  426  557  818
  605  696  412  461  427  631  507  560  555  626  570  546  672  674
  462  508  629  666  486  618  400  479  614  356  549  518  630  548
  537  391  814  577  466  414  763  483  477  402  589  390  830  422
  639  467 1119  704  906  923  473  384  952  556  725  831  677  377
  620 1210  789  644  880  509  387  602  451  444 1212 1314  678  544
  491  408  434  712  619  665  792  464  452  450  538  488  601  860
  693  416  632  654  411  591  554  621  523  453  551  578  739  637
  470  625  500  865  945  877 1151  517  440  474  581  527  567  522
  445  480  569  820  756  506  492  503  441  636  475  493  528  498
  706  531  481  718  868  828  659  662  627  652  550]

In [17]:
ageDict = {
    '15-19 years' : 11, 
    '20-24 years' : 10, 
    '25-29 years' : 9, 
    '35-39 years' : 8,
    '30-34 years' : 7, 
    '40-44 years' : 6, 
    '45-49 years' : 5, 
    '50-54 years' : 4,
    '55-59 years' : 3, 
    '60-64 years' : 2, 
    '65-69 years' : 1, 
    '70-74 years' : 0,
    '75-79 years' : 0, 
    '80-84 years' : 0, 
    '85-89 years' : 0, 
    '90-94 years' : 0,
    '95-99 years' : 0, 
    '100 years and over' : 0
}

sexDict = {
    'Male' : 0,
    'Female' : 1
}

incomeDict = {
    '$1,000-$1,249 ($52,000-$64,999)' : 2,
    '$1,250-$1,499 ($65,000-$77,999)' : 3,
    '$1,500-$1,749 ($78,000-$90,999)' : 3,
    '$1,750-$1,999 ($91,000-$103,999)' : 4,
    '$2,000-$2,999 ($104,000-$155,999)' : 4,
    '$3,000-$3,499 ($156,000-$181,999)' : 4,
    '$3,500 or more ($182,000 or more)' : 5, 
    '$300-$399 ($15,600-$20,799)' : 0,
    '$400-$499 ($20,800-$25,999)' : 1, 
    '$500-$649 ($26,000-$33,799)' : 1,
    '$650-$799 ($33,800-$41,599)' : 1, 
    '$800-$999 ($41,600-$51,999)' : 2
}

data["Income"] = data["INCP Total Personal Income (weekly)"].map(incomeDict)

data["Age"] = data["AGE5P Age in Five Year Groups"].map(ageDict)
data["Sex"] = data["SEXP Sex"].map(sexDict)

In [18]:
data['Postal'] = data['POA (UR)'].str[3:].astype(int)

In [19]:
data

,AGE5P Age in Five Year Groups,SEXP Sex,INCP Total Personal Income (weekly),POA (UR),Count,Income,Age,Sex,Postal
0,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2000,24,0,11,0,2000
1,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2007,10,0,11,0,2007
2,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2008,11,0,11,0,2008
3,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2009,0,0,11,0,2009
4,15-19 years,Male,"$300-$399 ($15,600-$20,799)",POA2010,8,0,11,0,2010
...,...,...,...,...,...,...,...,...,...
1141771,100 years and over,Female,"$3,500 or more ($182,000 or more)",POA4383,0,5,0,1,4383
1141772,100 years and over,Female,"$3,500 or more ($182,000 or more)",POA4385,0,5,0,1,4385
1141773,100 years and over,Female,"$3,500 or more ($182,000 or more)",POA4825,0,5,0,1,4825
1141774,100 years and over,Female,"$3,500 or more ($182,000 or more)",POA9494,0,5,0,1,9494
1141775,100 years and over,Female,"$3,500 or more ($182,000 or more)",POA9797,0,5,0,1,9797

In [20]:
data.columns

Index(['AGE5P Age in Five Year Groups', 'SEXP Sex',
       'INCP Total Personal Income (weekly)', 'POA (UR)', 'Count', 'Income',
       'Age', 'Sex', 'Postal'],
      dtype='object')

In [21]:
data.drop(columns=["AGE5P Age in Five Year Groups", "SEXP Sex", "INCP Total Personal Income (weekly)", "POA (UR)"], inplace=True)

In [22]:
data.head()

   Count  Income  Age  Sex  Postal
0     24       0   11    0    2000
1     10       0   11    0    2007
2     11       0   11    0    2008
3      0       0   11    0    2009
4      8       0   11    0    2010

In [23]:
obj = data.groupby([ 'Income', 'Sex', 'Age', 'Postal']).sum()

In [24]:
data = pd.DataFrame(obj.to_records()).sort_values(by = ['Age', 'Sex'])

In [25]:
postal = pd.read_csv("../Data Files/postcodesRegions.csv")

postal['Postcode'] = postal['Postcode'].str.replace(",","").astype(int)

data['Region'] = data['Postal'].apply(lambda x: postal[postal['Postcode'] == x]['Region code'].values[0])

In [26]:
data.to_csv("../Data Files/constraintsAus.csv", index=False)

In [27]:
import pandas as pd

In [28]:
pops = pd.read_csv("../Data Files/2020_sample_file.csv")

In [29]:
pops.columns

Index(['Ind', 'Gender', 'age_range', 'Occ_code', 'Partner_status', 'Region',
       'Lodgment_method', 'PHI_Ind', 'Sw_amt', 'Alow_ben_amt', 'ETP_txbl_amt',
       'Grs_int_amt', 'Aust_govt_pnsn_allw_amt', 'Unfranked_Div_amt',
       'Frk_Div_amt', 'Dividends_franking_cr_amt', 'Net_rent_amt',
       'Gross_rent_amt', 'Other_rent_ded_amt', 'Rent_int_ded_amt',
       'Rent_cap_wks_amt', 'Net_farm_management_amt', 'Net_PP_BI_amt',
       'Net_NPP_BI_amt', 'Total_PP_BI_amt', 'Total_NPP_BI_amt',
       'Total_PP_BE_amt', 'Total_NPP_BE_amt', 'Net_CG_amt', 'Tot_CY_CG_amt',
       'Net_PT_PP_dsn', 'Net_PT_NPP_dsn', 'Taxed_othr_pnsn_amt',
       'Untaxed_othr_pnsn_amt', 'Other_foreign_inc_amt', 'Other_inc_amt',
       'Tot_IncLoss_amt', 'WRE_car_amt', 'WRE_trvl_amt', 'WRE_uniform_amt',
       'WRE_self_amt', 'WRE_other_amt', 'Div_Ded_amt', 'Intrst_Ded_amt',
       'Gift_amt', 'Non_emp_spr_amt', 'Cost_tax_affairs_amt', 'Other_Ded_amt',
       'Tot_ded_amt', 'PP_loss_claimed', 'NPP_loss_claimed',
       'Rep_frng_ben_amt', 'Asbl_forgn_source_incm_amt',
       'Net_fincl_invstmt_lss_amt', 'Rptbl_Empr_spr_cont_amt',
       'Cr_PAYG_ITI_amt', 'TFN_amts_wheld_gr_intst_amt',
       'TFN_amts_wheld_divs_amt', 'Hrs_to_prepare_BPI_cnt', 'Taxable_Income',
       'Help_debt', 'Spr_Emplr_Contr', 'Spr_Prsnl_Contr', 'Spr_Othr_Contr',
       'Spr_Ttl_Acnt_Bal'],
      dtype='object')

In [30]:
popSub = pops[["Ind", "Gender", "age_range", "Region", "Taxable_Income"]]

In [31]:
popSub["Taxable_Income"] = 1.008**6*popSub["Taxable_Income"]

C:\Users\orect\AppData\Local\Temp\ipykernel_20152\3844878903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  popSub["Taxable_Income"] = 1.008**6*popSub["Taxable_Income"]

In [32]:
popSub = popSub[popSub["Taxable_Income"] >= 15600]

In [33]:
popSub["Taxable_Income"].min()

15600.286325943533

In [34]:
def incomeCat(income):
    if income >= 15600 and income <= 20799:
        val = 0
    elif income >= 20800 and income <= 41599:
        val = 1
    elif income >= 41600 and income <= 64999:
        val = 2
    elif income >= 65000 and income <= 90999:
        val = 3
    elif income >= 91000 and income <= 181999:
        val = 4
    else:
        val = 5
    return val

In [35]:
popSub["Income"] = popSub["Taxable_Income"].apply(incomeCat)

In [36]:
popSub = popSub[popSub['Region'] != 33]

In [40]:
popSub.to_csv('../Data Files/microdata.csv', index=False)