In [1]:
import pandas as pd
import numpy as np

In [2]:
dataFiles = [
    pd.read_csv("../Output Files/synthPopulation.csv"), 
    pd.read_csv("../Output Files/synthFailPopulation.csv"), 
    pd.read_csv("../Output Files/synthFailPostalPopulation.csv")
    ]

C:\Users\orect\AppData\Local\Temp\ipykernel_13416\2721676130.py:2: DtypeWarning: Columns (0,1,2,3,4,5,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("../Output Files/synthPopulation.csv"),
C:\Users\orect\AppData\Local\Temp\ipykernel_13416\2721676130.py:3: DtypeWarning: Columns (0,1,2,3,4,5,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("../Output Files/synthFailPopulation.csv"),
C:\Users\orect\AppData\Local\Temp\ipykernel_13416\2721676130.py:4: DtypeWarning: Columns (0,1,2,3,4,5,6,7,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("../Output Files/synthFailPostalPopulation.csv")

In [3]:
synthPop = pd.concat(dataFiles, ignore_index=True)

In [4]:
synthPop.head()

,hsize,age_range,Gender,Region,Partner_status,weight,Taxable_IncomeCat,Taxable_Income,Income,Occ_code,Postal,hhid,pid
0,1,8,1,0,1,1,"(6.07e+04,8.54e+04]",66421.710251,3,5,2600,1,1.1
1,1,4,1,0,0,1,"(3.74e+04,6.07e+04]",58349.209086,2,5,2600,2,2.1
2,1,6,1,0,1,1,"(8.54e+04,1.17e+05]",110563.450792,4,9,2600,3,3.1
3,1,9,1,0,0,1,"(8.54e+04,1.17e+05]",115868.452096,4,5,2600,4,4.1
4,1,8,1,0,1,1,"(2.09e+04,2.62e+04]",24610.234001,1,2,2600,5,5.1

In [5]:
synthPop = synthPop[['age_range', 'Gender', 'Region', 'Partner_status', 'Taxable_Income', 'Income', 'Occ_code', 'Postal']]

In [6]:
synthPop = synthPop[synthPop["Taxable_Income"] != "Taxable_Income"]

In [7]:
synthPop = synthPop.dropna()

In [8]:
synthPop["Taxable_Income"] = pd.to_numeric(synthPop["Taxable_Income"], errors='coerce')

In [9]:
synthPop = synthPop.apply(pd.to_numeric)

In [60]:
def jul2018(salary):
    if salary > 0 and salary <= 18200:
        return 0.02 * salary
    elif salary > 18200 and salary <= 37000:
        return 0.19 * (salary - 18200) + 0.02 * salary
    elif salary > 37000 and salary <= 90000:
        return 3572 + 0.325 * (salary - 37000) + 0.02 * salary
    elif salary > 90000 and salary <= 180000:
        return 20797 + 0.37 * (salary - 90000) + 0.02 * salary
    elif salary > 180000:
        return 54097 + 0.45 * (salary - 180000) + 0.02 * salary

In [61]:
def jul2022(salary):
    if salary > 0 and salary <= 18200:
        return 0.02 * salary
    elif salary > 18200 and salary <= 41000:
        return 0.19 * (salary - 18200) + 0.02 * salary
    elif salary > 41000 and salary <= 120000:
        return 4332 + 0.325 * (salary - 41000) + 0.02 * salary
    elif salary > 120000 and salary <= 180000:
        return  29467 + 0.37 * (salary - 120000) + 0.02 * salary #30007
    elif salary > 180000:
        return  51667 + 0.45 * (salary - 180000) + 0.02 * salary #52207

In [88]:
def jul2024(salary):
    if salary > 0 and salary <= 18200:
        return 0.02 * salary
    elif salary > 18200 and salary <= 45000:
        return 0.19 * (salary - 18200) + 0.02 * salary
    elif salary > 45000 and salary <= 200000:
        return 5092 + 0.3 * (salary - 45000) + 0.02 * salary
    elif salary > 200000:
        return 51592 + 0.45 * (salary - 200000) + 0.02 * salary

In [90]:
jul2024(300001) - jul2022(300001)

-9075.0

In [91]:
synthPop["Taxes_2018"] = synthPop["Taxable_Income"].apply(lambda x: jul2018(x))

synthPop["Taxes_2022"] = synthPop["Taxable_Income"].apply(lambda x: jul2022(x))

synthPop["Taxes_2024"] = synthPop["Taxable_Income"].apply(lambda x: jul2024(x))

In [ ]:
synthPop["Taxes_Delta(22-24)"] = synthPop["Taxes_2022"] - synthPop["Taxes_2024"]

synthPop["Taxes_Delta(18-24)"] = synthPop["Taxes_2018"] - synthPop["Taxes_2024"]

In [ ]:
synthPop["Delta (% Income)"] = synthPop["Taxes_Delta(22-24)"] * 100 / synthPop["Taxable_Income"]

In [ ]:
synthPop.describe()

,age_range,Gender,Region,Partner_status,Taxable_Income,Income,Occ_code,Postal,Taxes_2018,Taxes_2022,Taxes_2024,Taxes_Delta(22-24),Taxes_Delta(18-24),Delta (% Income)
count,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07
mean,5.674768e+00,4.840121e-01,1.383927e+01,5.659385e-01,7.602909e+04,2.398053e+00,3.737876e+00,3.723937e+03,1.935006e+04,1.862095e+04,1.800841e+04,6.125400e+02,1.341647e+03,5.900890e-01
std,2.996410e+00,4.997443e-01,1.004463e+01,4.956331e-01,8.600486e+04,1.327377e+00,2.601804e+00,1.389522e+03,3.748199e+04,3.706779e+04,3.643920e+04,1.008076e+03,1.628081e+03,5.025337e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.671216e-02,0.000000e+00,0.000000e+00,8.000000e+02,3.342432e-04,3.342432e-04,3.342432e-04,0.000000e+00,0.000000e+00,0.000000e+00
25%,3.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,3.726526e+04,1.000000e+00,2.000000e+00,2.607000e+03,4.403516e+03,4.367706e+03,4.367706e+03,0.000000e+00,3.581073e+01,0.000000e+00
50%,6.000000e+00,0.000000e+00,1.300000e+01,1.000000e+00,5.985117e+04,2.000000e+00,3.000000e+00,3.215000e+03,1.219565e+04,1.165565e+04,1.111565e+04,5.400000e+02,1.080000e+03,6.177401e-01
75%,8.000000e+00,1.000000e+00,2.300000e+01,1.000000e+00,9.254565e+04,4.000000e+00,5.000000e+00,4.520000e+03,2.358980e+04,2.293525e+04,2.239525e+04,5.400000e+02,1.194554e+03,9.003908e-01
max,1.100000e+01,1.000000e+00,3.200000e+01,1.000000e+00,4.967309e+07,5.000000e+00,9.000000e+00,9.797000e+03,2.331945e+07,2.331702e+07,2.331182e+07,5.200000e+03,7.630000e+03,2.599999e+00

In [ ]:
synthPop.to_csv('../Output Files/synthPop.csv', index=False)

In [23]:
synthPop.columns

Index(['age_range', 'Gender', 'Region', 'Partner_status', 'Taxable_Income',
       'Income', 'Occ_code', 'Postal', 'Taxes_2018', 'Taxes_2022',
       'Taxes_2024', 'Taxes_Delta(22-24)', 'Taxes_Delta(18-24)',
       'Delta (% Income)'],
      dtype='object')

In [31]:
synthPop.describe()

,age_range,Gender,Region,Partner_status,Taxable_Income,Income,Occ_code,Postal,Taxes_2022,Taxes_2024,Taxes_Delta,Delta (% Income)
count,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07,1.289355e+07
mean,5.674768e+00,4.840121e-01,1.383927e+01,5.659385e-01,7.602909e+04,2.398053e+00,3.737876e+00,3.723937e+03,1.717505e+04,1.685915e+04,-3.158975e+02,-1.481167e-01
std,2.996410e+00,4.997443e-01,1.004463e+01,4.956331e-01,8.600486e+04,1.327377e+00,2.601804e+00,1.389522e+03,3.545346e+04,3.480574e+04,1.064822e+03,4.568034e-01
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.671216e-02,0.000000e+00,0.000000e+00,8.000000e+02,0.000000e+00,0.000000e+00,-5.200000e+03,-2.599999e+00
25%,3.000000e+00,0.000000e+00,3.000000e+00,0.000000e+00,3.726526e+04,1.000000e+00,2.000000e+00,2.607000e+03,3.622400e+03,3.622400e+03,0.000000e+00,0.000000e+00
50%,6.000000e+00,0.000000e+00,1.300000e+01,1.000000e+00,5.985117e+04,2.000000e+00,3.000000e+00,3.215000e+03,1.045863e+04,1.045863e+04,0.000000e+00,0.000000e+00
75%,8.000000e+00,1.000000e+00,2.300000e+01,1.000000e+00,9.254565e+04,4.000000e+00,5.000000e+00,4.520000e+03,2.108433e+04,2.108433e+04,0.000000e+00,0.000000e+00
max,1.100000e+01,1.000000e+00,3.200000e+01,1.000000e+00,4.967309e+07,5.000000e+00,9.000000e+00,9.797000e+03,2.232410e+07,2.231890e+07,0.000000e+00,0.000000e+00

In [32]:
synthCum = synthPop.groupby("Postal").agg(
    {
        'age_range' : 'mean', 
        'Gender' : 'mean', 
        'Region' : pd.Series.mode,  
        'Taxable_Income' : 'mean', 
        'Occ_code' : pd.Series.mode, 
        'Postal' :  'count', 
        'Taxes_2022' : 'mean', 
        'Taxes_2024' : 'mean',
        'Taxes_Delta' : [np.mean, np.sum],
        'Delta (% Income)' : 'mean',

    }
)

In [33]:
synthCum.columns = [' '.join(col).strip() for col in synthCum.columns.values]

synthCum = synthCum.reset_index()

In [34]:
synthCum.to_csv('../Output Files/synthPopAgg.csv', index=False)

In [35]:
synthCum.columns

Index(['Postal', 'age_range mean', 'Gender mean', 'Region mode',
       'Taxable_Income mean', 'Occ_code mode', 'Postal count',
       'Taxes_2022 mean', 'Taxes_2024 mean', 'Taxes_Delta mean',
       'Taxes_Delta sum', 'Delta (% Income) mean'],
      dtype='object')

In [36]:
import geopandas as gpd
import pandas as pd

In [37]:
synthCum = pd.read_csv('../Output Files/synthPopAgg.csv')

In [38]:
geodata = gpd.read_file("../Data Files/POA Map/POA_2021_AUST_GDA2020.shp")

In [39]:
geodata = geodata[["POA_CODE21", "geometry"]]

geodata = geodata[geodata["POA_CODE21"] != "ZZZZ"]

In [40]:
geodata["POA_CODE21"] = geodata["POA_CODE21"].astype(int)

In [41]:
geodata.dropna(inplace=True)

In [42]:
geodata.isna().sum()

POA_CODE21    0
geometry      0
dtype: int64

In [43]:
geodata.to_csv('../Output Files/geodata.csv', index=False)

In [44]:
synthPopGeo = pd.merge(left = synthCum, right = geodata, how = 'left', left_on = 'Postal', right_on = 'POA_CODE21').dropna()

In [45]:
synthPopGeo = gpd.GeoDataFrame(synthPopGeo, geometry="geometry")

In [12]:
synthPopGeo.memory_usage()

Index                    20784
Unnamed: 0               20784
Postal                   20784
age_range mean           20784
Gender mean              20784
Region mode              20784
Taxable_Income mean      20784
Occ_code mode            20784
Postal count             20784
Taxes_2022 mean          20784
Taxes_2024 mean          20784
Taxes_Delta mean         20784
Taxes_Delta sum          20784
Delta (% Income) mean    20784
POA_CODE21               20784
geometry                 20784
dtype: int64

In [14]:
#synthPopGeo.to_csv('../Output Files/synthPopGeo.csv', index=False)

In [46]:
synthPopGeo.to_file("../Output Files/synthPopGeo.geojson", driver="GeoJSON")